<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


</head>

<body>




    <div class="container">
        <div class="bg-img responsive">
            <div class="nav_container">
                <nav>
                    <div class="topnav the-blur">
                        <a href="{{ url_for('inventory')}}">INVENTORY</a>
                        <a href="{{ url_for('about') }}">COVID-19 SELF TEST</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="maintitle">COVID-19</div>
        <div class="medical_supps">MEDICAL SUPPLY INVENTORY MANAGEMENT</div>
        <div class="ruhacks">CREATED FOR RUHACKS 2020</div>
        <div class="names">BY: AREEZ VISRAM & NEIL LOBO</div>
    </div>




</body>