<!DOCTYPE html>
<html>
<head>
	<title>Inventory</title>
	<style type="text/css">
		table, th, td
		{
			border: 1px solid black 
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<th>Supply</th>
			<th>Picutre</th>
			<th>Stock</th>
			<th>Needed</th>
			<th>Map</th>
		</tr>
		{% for item in inventory %}
		<script type="text/javascript"> console.log("test")</script>
		<tr>
			<td>{{ item["name"] }}</td>
			<td>pic</td>
			<td>{{ item["stock"] }}</td>
			<td>{{ item["needed"] }}</td>
			<td><a href="#">Map</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
