<!DOCTYPE html>
<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map.css') }}">

	<script type="text/javascript">
		let data = JSON.parse( {{ data|tojson|safe }} )
		let stock = data.stock
		let needed = data.needed

		let map_style = ({{ style|tojson|safe }})

	</script>

	<script type="text/javascript" src="../static/map.js"></script>
</head>
<body>
	<button id="change_heatmap">Heatmap</button>
	<button id="change_markers">Markers</button>
	<div id="map"></div>
	<script async defer src={{ url }}></script>
</body>
</html>