.body {
    height: 100%;
}

.bg-img {
  
  background-image: url("../pictures/covid background 5.jpg");
  min-height: 1000px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;



}



.responsive {
  width: 100%;
  height: auto;
}

.nav_container {
  position: absolute;
  margin: 20px;
  width: auto;
  
}

.topnav {
  margin-left: 1170px;
  margin-top: 17px;
  background-color: black;
  overflow: hidden;
  
}


.topnav a {
  
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 35px 16px;
  text-decoration:none;
}

.container{
  position: relative;
  text-align: center;
  color: black;
}

.maintitle {
    font-size: 200px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
}

.medical_supps {
  font-size: 120px;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
}

.ruhacks {
  font-size: 120px;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
}

.names {
  font-size: 120px;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 80%;
  transform: translateY(-50%);
  width: 100%;
  color: white;
}

